.toggle-switch {
  width: 56px;
  height: 28px;
  border-radius: 16px;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}

.toggle-switch__checkbox {
  opacity: 0;
  position: absolute;
}

.toggle-switch__circle {
  width: 28px;
  height: 28px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.2s ease;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__text {
  position: absolute;
  top: 5px;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #000;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__text_active {
  color: #fff;
}
