.card {
  width: 328px;
  height: 328px;
  background-color: #e2e2e2;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card__name {
  position: absolute;
  top: 18px;
  left: 20px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
