.weather-card {
  height: 80px;
  border-radius: 12px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.weather-card__temp {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: white;
}
