.weather-card {
  position: relative;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 24px;
}

.weather-card__temp {
  position: absolute;
  top: 20px;
  left: 16px;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
}
.weather-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
