.cards__text {
  margin: 0 0 24px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
