.header {
  display: flex;
  justify-content: center;
  padding: 32px 0 28px;
}

.header__logo {
  width: 89px;
  height: 24px;
}

.header__date-location {
  margin: 0;
}

.header__add-btn {
  margin-left: auto;
  margin-right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
