.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__date-location {
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__add-btn {
  margin-left: auto;
  margin-right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__logo-link {
  text-decoration: none;
}

.header__profile-link {
  text-decoration: none;
  color: inherit;
}

.header__logo-link {
  text-decoration: none;
}

.header__profile-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
}
