.modal__container_type_confirm {
  max-width: 670px;
  height: 280px;
  padding: 50px 30px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 20px;
}

.modal__confirm-text {
  font-size: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 0 0 20px;
}

.modal__confirm-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #ff4d00;
  padding: 8px 0;
  margin-bottom: 10px;
}

.modal__cancel-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 8px 0;
}
