.modal__container_type_image {
  padding: 0;
  max-width: 498px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.modal__image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.modal__footer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.modal__caption {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 500;
}

.modal__weather {
  margin: 0;
  color: #8b8b8b;
  width: 100%;
}

.modal__delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff4d00;
  font-size: 14px;
}

.modal__close_type_preview {
  background-image: url("../../assets/close-white.svg");
}
