.modal__content_type_image {
  padding: 0;
  max-width: 498px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.modal__image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.modal__footer {
  padding: 20px;
}

modal__caption {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 500;
}

.modal__weather {
  margin: 0;
  color: #8b8b8b;
}
