.clothes-section {
  flex-grow: 1;
  padding: 20px;
}

.clothes-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clothes-section__title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.clothes-section__add-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
}

.clothes-section__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
